<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>rodion</string>
	<key>CodecID</key>
	<integer>2184</integer>
	<key>CodecName</key>
	<string>0x10ec0888 Rev:</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>12</integer>
				<key>Path</key>
				<string>layout12.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Id</key>
				<integer>12</integer>
				<key>Path</key>
				<string>Platforms.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Find</key>
			<data>
			ixnUEQ==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			iAjsEA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			hBnUEQ==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			ihnUEQ==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			gxnUEQ==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			hQjsEA==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			hAjsEA==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			YgLsEA==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>
			YQLsEA==
			</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>
			AAAAAA==
			</data>
		</dict>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
